﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TeamWorkWebApp.ViewModels
@model AccountViewModel
@{
}
<style>
    body {
        height: 100%;
    }

    .form-login {
        max-width: 330px;
        padding: 1rem;
    }

    .form-login input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-login input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<div>
    <main class="form-login w-100 m-auto">
        <form method="post" asp-action="Login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" placeholder="mail@example.com" />
                <label asp-for="Email">Email address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="text-center">No account yet? <a asp-controller="Account" asp-action="Registration">Register</a>!</p>
        </form>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            </script>
        }
    </main>
</div>
